
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>This is the Home page of application</h1>
    @{
        int a = 10;
        int b = 0;
    }

    <div>
        <p> Value of a = @a</p>
        <p> Value of b = @b</p>
    </div>

    <h1> Using If - elseif - else</h1>

    @if (a > 5)
    {
        <h1>Hello from if block</h1>
    }
    else { 
        <h1>Hello From Else Block</h1>
    }

    <div>----------------------------------------</div>

    @if (a > 5)
    {
        a++;

        <h3>Hello from if block and value = @a</h3>

    }
    else if (a == 10)
    {
        <h2>Hello from else if block</h2>
    }
    else
    {
        <h1>Hello from else block</h1>
    }

    <h1>Ternary operation- () ? .... : .... </h1>
    <h2>Ternary - @(a==10 ? b=10 : b=5)</h2>

    <div>
        <p> Value of a = @a</p>
        <p> Value of b = @b</p>
    </div>

    <h1>Switch Case</h1>

    @switch (a)
    {
        case 1:<h2>I am 1</h2>
            break;
        case 2:<h2>I am 2</h2>
            break;
        case 3:<h2>I am 3</h2>
            break;
        case 4:<h2>I am 4</h2>
            break;
        default:<h2>I am default</h2>
            break;
    }
</body>
</html>
